<a href="https://colab.research.google.com/github/samvillasmith/EDA/blob/main/Handling_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Handling missing data is a crucial step in the data analysis and preprocessing workflow. Missing values can introduce bias, distort analytical results, or lead to inaccurate predictive modeling outcomes. Therefore, it's essential to manage these gaps effectively to maintain the quality and integrity of the dataset. This notebook explores several practical methods for handling missing data, including column or row removal and various imputation techniques, such as statistical imputation (mean, median, mode) and sequential imputation methods (forward-fill and backward-fill). Each technique is discussed with an emphasis on understanding their advantages, limitations, and suitable use cases, enabling you to select the most appropriate method based on your data context.

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/Churn_Modelling_missing.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              9850 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

### Both Age and Gender are missing 150 values each

In [4]:
print(df.isnull().sum())

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender             150
Age                150
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

In [5]:
updated_df = df.dropna(axis=1)

## In reality, dropping these columns is a bad practice if there aren't that many missing values

In [6]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

### An alternative could include dropping the rows

In [7]:
updated_df = df.dropna(axis=0)

In [8]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9703 entries, 1 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9703 non-null   int64
 1   CustomerId       9703 non-null   int64
 2   Surname          9703 non-null   object
 3   CreditScore      9703 non-null   int64
 4   Geography        9703 non-null   object
 5   Gender           9703 non-null   object
 6   Age              9703 non-null   float64
 7   Tenure           9703 non-null   int64
 8   Balance          9703 non-null   float64
 9   NumOfProducts    9703 non-null   int64
 10  HasCrCard        9703 non-null   int64
 11  IsActiveMember   9703 non-null   int64
 12  EstimatedSalary  9703 non-null   float64
 13  Exited           9703 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

### Imputation also remains a viable option. This can be done with the mean/median if numerical, mode if categorical

### Mean Imputation
Mean imputation is one of the simplest statistical methods for handling missing numerical data. It involves replacing missing values in a numerical column with the mean (average) of the observed non-missing values in that column.

Advantages:

Easy and fast to compute.

Maintains the original mean of the dataset.

Limitations:

Reduces variability in the dataset, as imputed values cluster around the mean.

Potentially biases relationships between variables, since multiple identical imputed values can artificially inflate correlations.

When to use mean imputation:

Ideal when the proportion of missing data is small and the missing values are randomly distributed (missing completely at random).

Best suited for numerical columns with relatively symmetrical distributions; if skewness or outliers are present, median imputation could be a better alternative.

To effectively use mean imputation, always assess your data distribution first and evaluate the method’s suitability for your specific analytical needs.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              9850 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [27]:
# fillna fills the null records
updated_df = df
updated_df['Age'] = updated_df['Age'].fillna(df['Age'].mean())

In [15]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

### Note on Median vs. Mean Imputation
While mean imputation uses the average of numerical values, median imputation employs the middle value of the ordered dataset. Median imputation is often preferred when the data has significant skewness or contains outliers, as it is less influenced by extreme values compared to the mean. Always consider the data's distribution characteristics when choosing between mean and median imputation.

##Mode Imputation for Categorical Variables
Mode imputation replaces missing values in categorical columns with the most frequently occurring category (the mode). It is a straightforward and effective method for handling missing categorical data.

Advantages:

Simple and intuitive approach.

Does not require numerical operations, making it ideal for categorical data.

Limitations:

Can artificially inflate the frequency of the most common category.

May introduce bias, especially if the proportion of missing data is high.

When to use mode imputation:

Suitable for categorical variables where the missing values constitute a relatively small proportion of the dataset.

Ideal when no clear relationship or pattern for missingness exists.

Always verify that mode imputation aligns well with your analysis objectives and that it will not significantly bias your results or interpretations.

In [28]:
updated_df = df
updated_df['Gender'] = updated_df['Gender'].fillna(df['Gender'].mode()[0])

In [29]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

# Backward and forward filling imputation

Backward fill (bfill) and forward fill (ffill) are methods for imputing missing values in a DataFrame.

Backward fill (bfill): This method fills the missing value with the next valid value in the same column. In your notebook, after applying bfill to the 'Age' column in cell tqOtyv19HxEq, the missing 'Age' values were filled with the value from the next row in that column.
Forward fill (ffill): This method fills the missing value with the previous valid value in the same column. In your notebook, after applying ffill to the 'Age' column in cell xyFee9mkIF-S, the missing 'Age' values were filled with the value from the previous row in that column.
These methods are useful when there's a sequential relationship in the data, like time series data, where the next or previous value might be a reasonable estimate for a missing value.

In [25]:
df = pd.read_csv('/content/Churn_Modelling_missing.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              9850 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [19]:
df1 = df

In [20]:
df1['Age'] = df1['Age'].bfill()

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [22]:
df2 = df

In [23]:
df2['Age'] = df2['Age'].ffill()

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9850 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

## Conclusion

In this notebook, we explored several practical strategies for handling missing values, including dropping columns or rows and various imputation techniques. While dropping columns or rows may simplify datasets, these approaches can lead to loss of valuable data and are typically not recommended unless missing values are extensive. Alternatively, we examined imputation methods such as mean, median, or mode substitution, which preserve the overall integrity of the data distribution. Additionally, we explored sequential imputation techniques like forward-fill (ffill) and backward-fill (bfill), especially beneficial in datasets where data points exhibit temporal or sequential dependencies.

Selecting the appropriate method depends heavily on the context and nature of your dataset. It's essential to consider the potential impact of each method on downstream analyses or modeling. Therefore, thorough understanding and careful experimentation with these approaches are critical steps in preparing data effectively for accurate and reliable analysis.